<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGBbxMtF2NwfjElf00ux4YA8PX9fvicoA</string>
	<key>GCM_SENDER_ID</key>
	<string>1071829652113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thrifty.app</string>
	<key>PROJECT_ID</key>
	<string>thrifty-9064a</string>
	<key>STORAGE_BUCKET</key>
	<string>thrifty-9064a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071829652113:ios:c5696b861a28e6380d6530</string>
</dict>
</plist>